.footer {
    background-color: #333;
    display: flex;
    justify-content: center;

    a {
        color: #919191;
        text-decoration: none;
        font-family: 'Papyrus', sans-serif;
        font-size: 0.9rem;

        &:hover {
            color: #a9a9a9;
        }
    }
}